<div class="container">
              <h1>Create a Meeting Schedule</h1>
              <hr>
          
              <label for="topic"><b>Meeting Topic</b></label><br>
              <input type="text" placeholder="Enter Meeting Topic" name="topic" required>
              <br><br>
              <label for="people"><b>Number of People</b></label><br>
              <input type="number" placeholder="Enter number of people" name="people" required>
              <br><br>
              <label for="time"><b>Start Time:</b></label><br>
              <input type="datetime-local" placeholder="select date and time" name="time" required>
              <br><br>
              <div class="clearfix">
                <button onclick="alert('Meeting Scheduled!')" type="submit" class="signupbtn">Schedule Meeting</button>
              </div>
            </div>
          
